@media only screen and (min-width: 1920px) {

    * {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 0;
    }

    #FirstSection {
        position: absolute;
        width: 100%;
        height: 1157px;
        background-image: url("Background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    #SecondSection {
        position: absolute;
        width: 100%;
        height: 1096px;
        left: 0;
        top: 1156px;
        background-image: url("background2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #submit1 {
        display:inline-block;
        height: 526px;
        width: 524px;
        margin-top: 285px;
        transition: transform .5s;
        margin-left:1%;
    }

    #submit1:hover {
        transform: scale(1.1);
    }



    #submit2 {
        display:inline-block;
        height: 526px;
        width: 524px;
        margin-top: 285px;
        transition: transform .5s;
        transition: transform .5s;
        margin-left:1%;
    }


    #submit2:hover {
        transform: scale(1.1);
    }


    #submit3 {
        display:inline-block;
        height: 526px;
        width: 524px;
        margin-top: 285px;
        transition: transform .5s;
        transition: transform .5s;
        margin-left:1%;
    }


    #submit3:hover {
        transform: scale(1.1);
    }


    #logo {
        display:block;
        width: 491px;
        height: 848px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        top: 176px;
        border-radius: 0px;
        z-index: 99;
 
    }

    #SecondSection {
        text-align: center;
    }

/* NAVIGATION */
    .topnav {
        position: fixed;
        z-index: 100;
        height: 121px;
        width: 100%;
        left: 0px;
        top: 0;
        border-radius: 0px;

        background: #E7E8E5;
        box-shadow: 0px 4px 10px rgba(7, 7, 7, 0.59);
        text-align: center;
    
    }

    #introduction {
        display:inline-block;
        width: 343px;
        height: 70px;  

        margin-top:31px;
 
        transition: transform .2s;
        
    }

    #introduction:hover {
        transform: scale(1.1);
    }
    
    #interaction {
        display:inline-block;
        width: 343px;
        height: 70px;  

        margin-top:31px;
        transition: transform .2s;
    }

    #interaction:hover {
        transform: scale(1.1);
    }

    #simulation {
        display:inline-block;
        width: 343px;
        height: 70px;  

        margin-top:31px;
        transition: transform .2s;
    }

    #simulation:hover {
        transform: scale(1.1);
    }


    #submission {
        display:inline-block;
        width: 343px;
        height: 71px;  
        margin-top:31px;
        transition: transform .2s;
    }

    #submission:hover {
        transform: scale(1.1);
    }


    /* Removing Content */ 
    #introduction1366 {
        display:none;
    }

    #simulation1366 {
        display:none;
    }

    #interaction1366 {
        display:none;
    }

    #submission1366 {
        display:none;
    }
    
    #logo1366 {
        display:none;
    }

    /* Animation */

    

 /* NAVIGATION */

 }

 @media only screen and (min-width: 1200px) and (max-width: 1919px){

    * {
        overflow-x: hidden;
        margin: 0;
    }
    
    #FirstSection {
        width: 100%;
        height: 889px;
        background-image: url("Background1366.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #logo1366 {
        display:block;
        margin-top:177px;
        margin-left:auto;
        margin-right:auto;

    }


    #SecondSection {
        width: 100%;
        height: 1634px;
        margin-top: 0px;
        background-image: url("background21366.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow:hidden;
    }
    
    #submit1 {
        display:block;
        width: 459px;
        height: 461px;
        margin-left: auto;
        margin-right: auto;
        margin-top:115px;

        
        transition: transform .5s;
    }

    #submit1:hover {
        transform: scale(1.1);
    }

    #submit2 {
        display:block;
        width: 459px;
        height: 461px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:12px;
        
        transition: transform .5s;
    }

    #submit2:hover {
        transform: scale(1.05);
    }

    #submit3 {
        display:block;
        width: 459px;
        height: 461px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:12px;
        
        transition: transform .5s;
    }

    #submit3:hover {
        transform: scale(1.05);
    }






     /* NAVIGATION */
    .topnav {
        position: fixed;
        z-index: 100;
        height: 121px;
        width: 100%;
        left: 0px;
        top: 0;
        border-radius: 0px;
        background: #E7E8E5;
        box-shadow: 0px 4px 10px rgba(7, 7, 7, 0.59);
        text-align: center;
    
  }

    #introduction1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        transition: transform .2s;
    }

    #introduction1366:hover {
        transform: scale(1.1);
    }

    #interaction1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:95px;
        margin-right:auto;
        transition: transform .2s;
    }

    #interaction1366:hover {
        transform: scale(1.1);
    }
    
    #simulation1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:95px;
        margin-right:auto;
        transition: transform .2s;
    }

    #simulation1366:hover {
        transform: scale(1.1);
    }

    #submission1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:95px;
        margin-right:auto;
        transition: transform .2s;
    }

    #submission1366:hover {
        transform: scale(1.1);
    }



  /* Removing Images */
    #introduction {
        display:none;
    }

    #simulation {
        display:none;
    }

    #interaction {
        display:none;
    }

    #submission {
        display:none;
    }

    #logo {
        display:none;
    }

     /* NAVIGATION */

 }


 @media only screen and (min-width: 1024px) and (max-width: 1199px){
    * {
        overflow-x: hidden;
        margin: 0;
    }
    
    #FirstSection {
        width: 100%;
        height: 889px;
        background-image: url("background1024.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #logo1366 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        text-align: center;
    }


    #SecondSection {
        width: 100%;
        height: 1634px;
        margin-top: 0px;
        background-image: url("background21024.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow:hidden;
    }
    
    #submit1 {
        display:block;
        width: 459px;
        height: 461px;
        margin-left: auto;
        margin-right: auto;
        margin-top:115px;
        
        transition: transform .5s;
    }

    #submit1:hover {
        transform: scale(1.1);
    }

    #submit2 {
        display:block;
        width: 459px;
        height: 461px;
        margin-left: auto;
        margin-right: auto;
        margin-top:12px;
        
        transition: transform .5s;
    }

    #submit2:hover {
        transform: scale(1.05);
    }

    #submit3 {
        display:block;
        width: 459px;
        height: 461px;
        margin-left: auto;
        margin-right: auto;
        margin-top:12px;
        
        transition: transform .5s;
    }

    #submit3:hover {
        transform: scale(1.05);
    }






    /* NAVIGATION */
    .topnav {
        position: fixed;
        z-index: 100;
        height: 121px;
        width: 100%;
        left: 0px;
        top: 0;
        border-radius: 0px;
        background: #E7E8E5;
        box-shadow: 0px 4px 10px rgba(7, 7, 7, 0.59);
        text-align: center;
    
  }

    #introduction1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        transition: transform .2s;
    }

    #introduction1366:hover {
        transform: scale(1.1);
    }

    #interaction1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:50px;
        margin-right:auto;
        transition: transform .2s;
    }

    #interaction1366:hover {
        transform: scale(1.1);
    }
    
    #simulation1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:50px;
        margin-right:auto;
        transition: transform .2s;
    }

    #simulation1366:hover {
        transform: scale(1.1);
    }

    #submission1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:50px;
        margin-right:auto;
        transition: transform .2s;
    }

    #submission1366:hover {
        transform: scale(1.1);
    }



  /* Removing Images */
    #introduction {
        display:none;
    }

    #simulation {
        display:none;
    }

    #interaction {
        display:none;
    }

    #submission {
        display:none;
    }

    #logo {
        display:none;
    }

     /* NAVIGATION */


 }


 @media only screen and (min-width: 0px) and (max-width: 1023px){
    * {
        overflow-x: hidden;
        margin: 0;
    }
    
    #FirstSection {
        width: 100%;
        height: 535px;
        background-image: url("background427.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    #logo1366 {
        width: 199px;
        height: 344px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 141px;
        text-align: center;
    }


    #SecondSection {
        width: 100%;
        height: 872px;
        margin-top: 0px;
        background-image: url("background2427.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow:hidden;
    }
    
    #submit1 {
        display:block;
        width: 248px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top:60px;
        
        
        transition: transform .5s;
    }

    #submit1:hover {
        transform: scale(1.1);
    }

    #submit2 {
        display:block;
        width: 248px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top:12px;
        
        transition: transform .5s;
    }

    #submit2:hover {
        transform: scale(1.05);
    }

    #submit3 {
        display:block;
        width: 248px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top:12px;
        transition: transform .5s;
    }

    #submit3:hover {
        transform: scale(1.05);
    }






    /* NAVIGATION */
    .topnav {
        position: fixed;
        z-index: 100;
        height: 76px;
        width: 100%;
        left: 0px;
        top: 0;
        border-radius: 0px;
        background: #E7E8E5;
        box-shadow: 0px 4px 10px rgba(7, 7, 7, 0.59);
        text-align: center;
        overflow: hidden;
        margin: auto;
    
  }

    #introduction1366 {
        display:inline-block;
        width: 76.91px;
        height: 32.14px;
        margin-top:25px;
        margin-left:auto;
        margin-right:auto;
        transition: transform .2s;
    }

    #introduction1366:hover {
        transform: scale(1.1);
    }

    #interaction1366 {
        display:inline-block;
        width: 76.46px;
        height: 32.43px;
        margin-top:20px;
        margin-left:10px;
        margin-right:auto;
        transition: transform .2s;
    }

    #interaction1366:hover {
        transform: scale(1.1);
    }
    
    #simulation1366 {
        display:inline-block;
        width: 76.46px;
        height: 32.43px;
        margin-top:20px;
        margin-left:10px;
        margin-right:auto;
        transition: transform .2s;
    }

    #simulation1366:hover {
        transform: scale(1.1);
    }

    #submission1366 {
        display:inline-block;
        width: 76.46px;
        height: 32.43px;
        margin-top:20px;
        margin-left:10px;
        margin-right:auto;
        transition: transform .2s;
    }

    #submission1366:hover {
        transform: scale(1.1);
    }



  /* Removing Images */
    #introduction {
        display:none;
    }

    #simulation {
        display:none;
    }

    #interaction {
        display:none;
    }

    #submission {
        display:none;
    }

    #logo {
        display:none;
    }

     /* NAVIGATION */

 }