@media only screen and (min-width: 1920px) {

    * {
        margin: 0;
        overflow-x: hidden;
    }


    #FirstSection {
        width: 100%;
        height: 1178;
        top: 0;
        left: 0;     
    }

    #forgap {
        background-image: url("Background2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 300px;
    }

    
    h1 {
        margin: 5.8% 16.7% 0;
        
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 8.5rem;
        line-height: 155px;
        text-align: center;
        
        color: #D00704;
    }

    #back {
        width: 155px;
        height: 49px;
        margin-left:auto;
        margin-top:100px;
        margin-right:auto;
        transition: transform .2s;
        display:block;
    }

    #back:hover {
        transform: scale(1.1);
    }

    #emptyspace {
        padding: 50px;
    }




}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {

    
    * {
        margin: 0;
        overflow-x: hidden;

    }

    #FirstSection {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;     
    }

    #forgap {
        background-image: url("Background21366.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 300px;
    }

    
    h1 {
        margin: 10.8% 16.7% 0;
        
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 6rem;
        line-height: 100px;
        text-align: center;
        
        color: #D00704;
    }

    #back {
        width: 155px;
        height: 49px;
        margin-left:auto;
        margin-top:100px;
        margin-right:auto;
        transition: transform .2s;
        display:block;
    }

    #back:hover {
        transform: scale(1.1);
    }

    #emptyspace {
        padding: 50px;
    }


}

@media only screen and (min-width: 1024px) and (max-width: 1199px){
       
    * {
        margin: 0;
        overflow-x: hidden;

    }

    #FirstSection {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;     
    }

    #forgap {
        background-image: url("Background21024.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 400px;
    }

    
    h1 {
        margin: 22.8% 16.7% 0;
        
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 5rem;
        line-height: 90px;
        text-align: center;
        
        color: #D00704;
    }

    #back {
        width: 155px;
        height: 49px;
        margin-left:auto;
        margin-top:100px;
        margin-right:auto;
        transition: transform .2s;
        display:block;
    }

    #back:hover {
        transform: scale(1.1);
    }

    #emptyspace {
        padding: 50px;
    }
 
}
