@media only screen and (min-width: 1920px) {
    * {
        position: relative;
        width: 100%;
        height: 1178px;
        overflow-x: hidden;
        margin:0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type=number] {
      -moz-appearance: textfield;
    }


    
    
    #FirstSection {
        position: absolute;
        width: 100%;
        height: 1178px;
        left: 0;
        top: 0;
        
        background-image: url("Background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ask1 {
        display:inline-block;
        width: 30%;
        height: 283px;
        margin-top: 224px;
        margin-left:10%;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 69px;
        
        color: #D5D2CD;
    }

    #ask2 {
        display:inlin-block;
        width: 30%;
        height: 283px;
        margin-top:0px;
        margin-left:64%;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 69px;
        
        color: #D5D2CD;
    
    }

    #ask3 {
        display:inline-block;
        width: 31%;
        height: 283px;
        margin-top:0px;
        margin-left: 10%;
        
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 69px;
        
        color: #D5D2CD;
        
    }

    #t12 {
        z-index: 90;
        display:inline-block;
        width: 48%;
        height: 200px;
        margin-top:224px;
        margin-left:42%;
        
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        line-height: 103px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #t22 {
        z-index: 90;
        display:inline-block;
        width: 48%;
        height: 193px;
        margin-top:81px;
        margin-left: 10%;
        
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;

        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        line-height: 103px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #t32 {
        z-index: 90;
        display:inline-block;
        width: 48%;
        height: 193px;
        margin-top:81px;
        margin-left: 42%;
        
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;

        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        line-height: 103px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #b12 {
        z-index: 90;
        display:inline-block;
        width: 189px;
        height: 59px;
        margin-left:78%;
        margin-top:23px;
        
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 60px;
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 39px;
        text-align: center;
        
        color: #D5D2CD;
        transition: transform .2s;
        
    }

    #b1:hover {
        cursor:pointer;
        transform: scale(1.1);
    }

    input {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }

    /* NAVIGATION */
    .topnav {
        position: fixed;
        z-index: 100;
        height: 121px;
        width: 100%;
        left: 0px;
        top: 0;
        border-radius: 0px;

        background: #E7E8E5;
        box-shadow: 0px 4px 10px rgba(7, 7, 7, 0.59);
        text-align: center;

    }

    #introduction {
        display:inline-block;
        width: 343px;
        height: 70px;  

        margin-top:31px;

        transition: transform .2s;
        
    }

    #introduction:hover {
        transform: scale(1.1);
    }

    #interaction {
        display:inline-block;
        width: 343px;
        height: 70px;  

        margin-top:31px;
        transition: transform .2s;
    }

    #interaction:hover {
        transform: scale(1.1);
    }

    #simulation {
        display:inline-block;
        width: 343px;
        height: 70px;  

        margin-top:31px;
        transition: transform .2s;
    }

    #simulation:hover {
        transform: scale(1.1);
    }


    #submission {
        display:inline-block;
        width: 343px;
        height: 71px;  
        margin-top:31px;
        transition: transform .2s;
    }

    #submission:hover {
        transform: scale(1.1);
    }


    /* Removing Content */ 
    #introduction1366 {
        display:none;
    }

    #simulation1366 {
        display:none;
    }

    #interaction1366 {
        display:none;
    }

    #submission1366 {
        display:none;
    }

    #logo1366 {
        display:none;
    }

    #forless1920 {
        display:none;
    }

    /* Animation */



    /* NAVIGATION */
}


@media only screen and (min-width: 1200px) and (max-width: 1919px) {

    * {
        position: relative;
        width: 100%;
        height: 1366px;
        overflow-x: hidden;
        margin:0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type=number] {
      -moz-appearance: textfield;
    }

       
    #FirstSection {
        position: absolute;
        width: 100%;
        height: 1366px;
        left: 0;
        top: 0;
        z-index: -1;
        
        background-image: url("Background1366.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #ask1 {
        display:block;
        width: 56%;
        height: 100px;
        margin-top:26%;
        margin-left:18%;

        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: left;

        
        
        color: #D5D2CD;
    }

    #ask2 {
        display:block;
        width: 56%;
        height: 100px;
        margin-left:18%;
        margin-top:2%;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        
        color: #D5D2CD;
        text-align: left;

    }

    #ask3 {
        display:block;
        width: 56%;
        height: 98px;
        margin-left:18%;
        margin-top:2%;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        
        color: #D5D2CD;
        text-align: left;
        
    }


    #t1 {
        z-index: 90;
        display:bock;
        width: 62%;
        height: 108px;
        margin-left:18%;
        margin-top:0px;
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #t2 {
        z-index: 90;
        width: 62%;
        height: 108px;
        margin-left:18%;
        margin-top:0px;
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #t3 {
        z-index: 90;
        width: 62%;
        height: 108px;
        margin-left:18%;
        margin-top:0px;
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #b1 {
        z-index: 90;
        width: 189px;
        height: 59px;
        margin-top:111px;
        display:block;
        margin-right:auto;
        margin-left:auto;
        text-align: center;

        
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 60px;
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        
        color: #D5D2CD;
        transition: transform .2s;
        
    }


    input {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }


       /* NAVIGATION */
    .topnav {
        position: fixed;
        z-index: 100;
        height: 121px;
        width: 100%;
        left: 0px;
        top: 0;
        border-radius: 0px;
        background: #E7E8E5;
        box-shadow: 0px 4px 10px rgba(7, 7, 7, 0.59);
        text-align: center;
    
  }

    #introduction1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        transition: transform .2s;
    }

    #introduction1366:hover {
        transform: scale(1.1);
    }

    #interaction1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:95px;
        margin-right:auto;
        transition: transform .2s;
    }

    #interaction1366:hover {
        transform: scale(1.1);
    }
    
    #simulation1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:95px;
        margin-right:auto;
        transition: transform .2s;
    }

    #simulation1366:hover {
        transform: scale(1.1);
    }

    #submission1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:95px;
        margin-right:auto;
        transition: transform .2s;
    }

    #submission1366:hover {
        transform: scale(1.1);
    }




  /* Removing Images */
    #introduction {
        display:none;
    }

    #simulation {
        display:none;
    }

    #interaction {
        display:none;
    }

    #submission {
        display:none;
    }

    #logo {
        display:none;
    }

    #for1920up {
        display:none;
    }
 }

 @media only screen and (min-width: 942px) and (max-width: 1199px){



    * {
        position:relative;
        width: 100%;
        height: 1366px;
        overflow-x: hidden;
        margin:0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type=number] {
      -moz-appearance: textfield;
    }

      
    #FirstSection {
        position: absolute;
        width: 100%;
        height: 1366px;
        left: 0;
        top: 0;
        z-index: -1;
        background-image: url("background1024.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ask1 {
        display:block;
        width: 56%;
        height: 100px;
        margin-top:26%;
        margin-left: 16%;

        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: left;

        
        
        color: #D5D2CD;
    }

    #ask2 {
        display:block;
        width: 56%;
        height: 100px;
        margin-left: 16%;
        margin-top:2%;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        
        color: #D5D2CD;
        text-align: left;

    }

    #ask3 {
        display:block;
        width: 75%;
        height: 98px;
        margin-left: 16%;
        margin-top:2%;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        
        color: #D5D2CD;
        text-align: left;
        
    }


    #t1 {
        z-index: 90;
        display:bock;
        width: 65%;
        height: 108px;
        margin-left:16%;
        margin-top:0px;
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #t2 {
        z-index: 90;
        width: 65%;
        height: 108px;
        margin-left:16%;
        margin-top:0px;
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #t3 {
        z-index: 90;
        width: 65%;
        height: 108px;
        margin-left:16%;
        margin-top:0px;
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #b1 {
        z-index: 90;
        width: 189px;
        height: 59px;
        margin-top:111px;
        display:block;
        margin-right:auto;
        margin-left:auto;
        text-align: center;

        
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 60px;
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        
        color: #D5D2CD;
        transition: transform .2s;
        
    }


    input {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }


    /* NAVIGATION */
    .topnav {
        position: fixed;
        z-index: 100;
        height: 121px;
        width: 100%;
        left: 0px;
        top: 0;
        border-radius: 0px;
        background: #E7E8E5;
        box-shadow: 0px 4px 10px rgba(7, 7, 7, 0.59);
        text-align: center;
    
  }

    #introduction1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        transition: transform .2s;
    }

    #introduction1366:hover {
        transform: scale(1.1);
    }

    #interaction1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:50px;
        margin-right:auto;
        transition: transform .2s;
    }

    #interaction1366:hover {
        transform: scale(1.1);
    }
    
    #simulation1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:50px;
        margin-right:auto;
        transition: transform .2s;
    }

    #simulation1366:hover {
        transform: scale(1.1);
    }

    #submission1366 {
        display:inline-block;
        width: 184px;
        height: 71.54px;
        margin-top:20px;
        margin-left:50px;
        margin-right:auto;
        transition: transform .2s;
    }

    #submission1366:hover {
        transform: scale(1.1);
    }


  /* Removing Images */
    #introduction {
        display:none;
    }

    #simulation {
        display:none;
    }

    #interaction {
        display:none;
    }

    #submission {
        display:none;
    }

    #for1920up {
        display:none;
    }

         /* NAVIGATION */
 }


 @media only screen and (min-width: 0px) and (max-width: 941px){

    * {
        position: relative;
        width: 100%;
        height: 1136px;
        overflow-x: hidden;

        margin:0;
    }
    

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type=number] {
      -moz-appearance: textfield;
    }

      
    #FirstSection {
        position: absolute;
        width: 100%;
        height: 1136px;
        left: 0;
        top: 0;
        z-index: -1;
        
        background-image: url("background1024.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ask1 {
        display:block;
        width: 56%;
        height: 132px;
        margin-top:26%;
        margin-left: 16%;

        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 32px;
        text-align: left;

        
        
        color: #D5D2CD;
    }

    #ask2 {
        display:block;
        width: 56%;
        height: 150px;
        margin-left: 16%;
        margin-top:10%;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 32px;
        
        color: #D5D2CD;
        text-align: left;

    }

    #ask3 {
        display:block;
        width: 75%;
        height: 98px;
        margin-left: 16%;
        margin-top:10%;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 32px;
        
        color: #D5D2CD;
        text-align: left;
        
    }


    #t1 {
        z-index: 90;
        display:bock;
        width: 65%;
        height: 108px;
        margin-left:16%;
        margin-top:0px;
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #t2 {
        z-index: 90;
        width: 65%;
        height: 108px;
        margin-left:16%;
        margin-top:0px;
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #t3 {
        z-index: 90;
        width: 65%;
        height: 108px;
        margin-left:16%;
        margin-top:8%;
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        
        color: #D5D2CD;
    }

    #b1 {
        z-index: 90;
        width: 189px;
        height: 59px;
        margin-top:111px;
        display:block;
        margin-right:auto;
        margin-left:auto;
        text-align: center;

        
        background: #FD670B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 60px;
        font-family: aBigDeal;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 39px;
        text-align: center;
        
        color: #D5D2CD;
        transition: transform .2s;
        
    }

    #b1:hover {
        cursor:pointer;
        transform: scale(1.1);
    }

    input {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }



    
    /* NAVIGATION */
    .topnav {
        position: fixed;
        z-index: 100;
        height: 76px;
        width: 100%;
        left: 0px;
        top: 0;
        border-radius: 0px;
        background: #E7E8E5;
        box-shadow: 0px 4px 10px rgba(7, 7, 7, 0.59);
        text-align: center;
        overflow: hidden;
        margin: auto;
    
  }

    #introduction1366 {
        display:inline-block;
        width: 76.91px;
        height: 32.14px;
        margin-top:25px;
        margin-left:auto;
        margin-right:auto;
        transition: transform .2s;
    }

    #introduction1366:hover {
        transform: scale(1.1);
    }

    #interaction1366 {
        display:inline-block;
        width: 76.46px;
        height: 32.43px;
        margin-top:20px;
        margin-left:10px;
        margin-right:auto;
        transition: transform .2s;
    }

    #interaction1366:hover {
        transform: scale(1.1);
    }
    
    #simulation1366 {
        display:inline-block;
        width: 76.46px;
        height: 32.43px;
        margin-top:20px;
        margin-left:10px;
        margin-right:auto;
        transition: transform .2s;
    }

    #simulation1366:hover {
        transform: scale(1.1);
    }

    #submission1366 {
        display:inline-block;
        width: 76.46px;
        height: 32.43px;
        margin-top:20px;
        margin-left:10px;
        margin-right:auto;
        transition: transform .2s;
    }

    #submission1366:hover {
        transform: scale(1.1);
    }



  /* Removing Images */
    #introduction {
        display:none;
    }

    #simulation {
        display:none;
    }

    #interaction {
        display:none;
    }

    #submission {
        display:none;
    }

    #logo {
        display:none;
    }

    #for1920up {
        display:none;
    }

     /* NAVIGATION */

    
 }

 